

/*MON TRAVAIL PERSO */

header {
    background-color: #f8f9fa;
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

header section img {
    width: 30%;
    height: auto;
}

header section div h1 {
    font-size: 3em;
    font-weight: 400;
}

body p {
    color: #999999;
}
   
.section1 {
    text-align: center;
}


footer {
    background-color: #4a4a4b;
    text-align: center;
    color: white;
    height: 150px;
}