body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
}

header p {
    font-size: 1.2em;
    font-weight: 400;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}



main {
    display: flex;
}

.section1 {
    background-color: red>;
} 
