@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

#menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 20px 0 20px 0; /* lire comme le cadrant d'une montre */
}

.logo {
    font-size: 2em;
    text-decoration: none;
    color: black;
}

.logo span {
    color: orange;
}

#menu nav ul {
    display: flex;
    flex-direction: row;
    gap:20px;
    list-style: none;
}


#menu nav ul li a {
    color: #999999;
    text-decoration: none;
}

header {
    background-color: #f8f9fa;
}

header section {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    align-items: center; /* permet de centrer une image ou du texte de manière verticale */
}

header section img {
    width: 35%;
    height: auto;
}

.headerTitle h1 {
    font-size: 3em;
    margin: 0; /* supprime les marges autos sur la balise heading */
    font-weight: lighter;
}

.headerTitle p {
    font-size: 1.3em;
    margin: 0;
    font-weight: lighter;
    color: #999999;
}


body p {
    color: #999999;
}

main {
    width: 60%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.section1 {
    text-align: center;
    padding: 20px;
}

.section1 h2 {
    font-size: 2em;
    font-weight: bold;
}

.card1 {
    display: flex;
    text-align: right;
    gap: 100px;
    padding: 40px;
}

.card1 a {
    background-color: #a2c0be;
    color: white;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 50px;
}

.card1 h3 {
    font-size: 1.5em;
    font-weight: normal;
}

.dog2 {
    width: 45%;
    height: auto;
    box-shadow: 10px 10px 0 #a2c0be;
}

.card2 {
    display: flex;
    text-align: left;
    padding-top: 20px;
    gap: 100px;
    padding: 40px;
}

.card2 a {
    background-color: #a2c0be;
    color: white;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 50px;
}


.card2 h3 {
    font-size: 1.5em;
    font-weight: normal;
}

.dog3 {
    width: 45%;
    height: auto;
    box-shadow: 10px 10px 0 #a2c0be;
}

.card3 {
    display: flex;
    text-align: right;
    padding: 40px;
    gap: 100px;
}

.card3 a {
    background-color: #a2c0be;
    color: white;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 50px;
}


.card3 h3 {
    font-size: 1.5em;
    font-weight: normal;
}

.dog4 {
    width: 45%;
    height: auto;
    box-shadow: 10px 10px 0 #a2c0be;
}

footer {
    background-color: #4a4a4b;
    text-align: center;
    color: white;
    font-size: 0.8em;
    padding: 25px 0;
}   