body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #f8f9fa;

}

.dogger {
    font-size: 2em;
}

header section {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
}

header section div {
    text-align: center;
}

header section div h1 {
    font-size: 3.5em;
    font-weight: 200;
}

header section div p {
    color: #999999;
}

header section img {
    width: 25%;
    height: auto;
}

header a {
    text-decoration: none;
    color: black;
}



header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #94aec7;
}

.section1 {
    text-align: center;
}

footer {
    background-color: #4a4a4b;
    text-align: center;
    color: white;
    height: 150px;
}
